---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demonstration Partnerships Policy - City of Sacramento</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='#' type='image/x-icon' />
  <link rel="icon" type="image/png" href="#" sizes="32x32" />
  <link rel="icon" type="image/png" href="#" sizes="16x16" />
  <link href='{{ site.baseurl }}/assets/css/styles.css' rel='stylesheet' />
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">

      <a href="#introduction"><h3>Demonstration Partnerships Policy</h3></a>
      <ul class="nav">
        {% for play in site.plays %}
          <li class="play_square"><a href="#{{ play.play_number }}" title="View Section {{ play.play_number }}: {{ play.title }}">{{ play.play_number }}</a></li>
        {% endfor %}
      </ul>
      <div id="menu_icon">
        <a href="#sections" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      <a id="cos_logo" href="https://www.cityofsacramento.org" title="Link to the City of Sacramento" target="_blank"><img src='{{ site.baseurl }}/assets/images/cos_white.png' alt="Logo of the City of Sacramento"></a>
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#sections" title="View the Plays"><i class="fa fa-book" aria-hidden="true"></i> Read the Policy</a>
      </div>
      <div class="button">
        <a href="https://cityofsac.forms.fm/demonstration-partnerships" title="Express Your Interest" target="_blank"><i class="fa fa-commenting" aria-hidden="true"></i> Express your Interest</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="sections"></a>
      <h2>Policy Sections</h2>
      <div class="columns">
        <ol>
        {% for play in site.plays %}
          <li><a href="#{{ play.play_number }}" title="View Play {{ play.play_number }}">{{ play.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#1" title="View the In Detail"><i class="fa fa-arrow-down" aria-hidden="true"></i> Continue Reading</a>
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container">
  {% for play in site.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="{{ play.play_number }}"></a>
      <h6>Section {{ play.play_number }}</h6>
      <h2 class="display">{{ play.title }}</h2>

      {{ play.output }}
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97991361-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
