---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Demonstration Partnerships Policy - City of Sacramento</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='/assets/images/b-logo-dark.svg' type='image/x-icon' />
  <link rel="icon" type="image/png" href="/assets/images/b-logo-dark.svg" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/images/b-logo-dark.svg" sizes="16x16" />
  <link href='/assets/css/styles.css' rel='stylesheet' />
</head>

<body>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">

      <a href="#introduction"><h3>Demonstration Partnership Policy</h3></a>
      <ul class="nav">
        {% for play in site.plays %}
          <li class="play_square"><a href="#{{ play.play_number }}" title="View Section {{ play.play_number }}: {{ play.title }}">{{ play.play_number }}</a></li>
        {% endfor %}
      </ul>
      <div id="menu_icon">
        <a href="#sections" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
      <center>
      <a id="cos_logo" href="https://www.cityofsacramento.org" title="Link to the City of Sacramento" target="_blank"><img src='/assets/images/cos_white.png' alt="Logo of the City of Sacramento"></a>
      </center>
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="#sections" title="View the Plays">Read the Policy</a>
      </div>
      <div class="button">
        <a href="https://cityofsac.forms.fm/demonstration-partnerships" title="Submit Your Interest" target="_blank">Submit your Interest</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="sections"></a>
      <h2>Policy Sections</h2>
      <div class="columns">
        <ol>
        {% for play in site.plays %}
          <li><a href="#{{ play.play_number }}" title="View Play {{ play.play_number }}">{{ play.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#1" title="View the In Detail">Continue reading</a>
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container">
  {% for play in site.plays %}
    <div class="inner_container">
      <a class="anchor_offset" id="{{ play.play_number }}"></a>
      <h6>Section {{ play.play_number }}</h6>
      <h2 class="display">{{ play.title }}</h2>

      {{ play.output }}
    </div>
  {% endfor %}
</div>

<script src='{{site.baseurl}}/assets/js/jquery-1.11.1.min.js'></script>
<script src='{{site.baseurl}}/assets/js/scrollspy.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>
<script id="_fed_an_js_tag" type="text/javascript" src="{{site.baseurl}}/assets/js/federated-analytics.all.min.js?agency=GSA&sub-agency=OGP"></script>
</body>
</html>
